In [39]:
import pandas as pd

In [40]:
df = pd.DataFrame(columns=range(3))
df

Empty DataFrame
Columns: [0, 1, 2]
Index: []

In [41]:
df_1 = pd.DataFrame({0: [1, 2, 3], 1: [4, 5, 6], 2: [7, 8, 9]})
df_1

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [42]:
df = pd.concat([df, df_1], axis=0)

In [43]:
df

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9

In [44]:
df = df.to_dict(orient='list')
df

{0: [1, 2, 3], 1: [4, 5, 6], 2: [7, 8, 9]}

In [38]:
df = pd.DataFrame(df)
df

   0  1  2
0  1  4  7
1  2  5  8
2  3  6  9